<!DOCTYPE html>
<html>
<head>
	<title>Pocetna</title>
	<link rel="stylesheet" href="/w3css/4/w3.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div ng-app="" ng-controller="PocetnaController">
 
<!--  <button class="w3-btn w3-green w3-ripple" ng-click="addItem()">&#9998; Add certificate</button> -->
<!--  <button ng-click="addItem()">Add</button> -->
<!--  <button ng-click="addItem()">Add</button> -->
<p>AAAAAAAAAAAAAAAAAA</p>

</div>
</body>
</html>