<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<style type="text/css">
	.preview-nm tbody tr:hover {
		background-color: grey;
		cursor: pointer;
	}

	.preview-drzave tbody tr:hover {
		background-color: grey;
		cursor: pointer;
	}

	table tr.selected{
		background-color: orange;
	}

	#link-pocetna {
    	text-align: right;
    	float: right;
	}

	</style>
	<meta charset="ISO-8859-1" />
	<title>Naseljena mesta</title>
</head>
<body>
<a href="http://localhost:8080/poslovna/" id="link-pocetna">Pocetna</a>
<h2 th:text="${drzava}"></h2>
<h3>Naseljena mesta</h3>

<table class="table preview-nm" id="table-nm">
	<thead>
		<tr>
			<th>ID</th>
			<th>Naziv</th>
			<th>PTT</th>
			<th>Drzava</th>	
		</tr>
	</thead>
	<tbody>
		<tr th:each="nm : ${nMesta}">
			<td th:text="${nm.id}"></td>
			<td th:text="${nm.name}"></td>
			<td th:text="${nm.ptt}"></td>
			<td th:text="${nm.maticnaDrzava}"></td>
		</tr>
	</tbody>
</table>
<form id="form-nm">
	<table>
		<tr>
			<td><input type="button" id="btn-izmeni-nm" value="Izmeni" class="btn btn-default" data-toggle="modal" data-target="#modal-izmeni-nm" /></td>
			<td><input type="button" id="btn-brisi-nm" value="Obrisi" class="btn btn-danger" /></td>
		</tr>
		<tr>
			<td>Naziv:</td>
			<td><input type="text" name="name" /></td>
		</tr>
		<tr>
			<td>PTT:</td>
			<td><input type="text" name="ptt" /></td>
		</tr>
		<tr>
			<td>Drzava:</td>
			<td>
				<select name="maticnaDrzava" id="combo-drzava">
					<option id="default-option" selected="selected" disabled="disabled" th:value="${idDrzave}" th:text = "${drzava}" ></option>
				</select>
			</td>
		</tr>
		<tr>
			<td><input type="button" id="btn-dodaj-nm" value="Dodaj" class="btn btn-success" /></td>
			
		</tr>
	</table>
</form>

<!-- Modal Izmeni Naseljeno mesto-->
<div id="modal-izmeni-nm" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Izmena naseljenog mesta</h4>
      </div>
      <div class="modal-body">
	      <form id="form-izmena-nm">
	        <label>Naziv:</label>
	        <input type="text" name="name" id="nm-izmena-name" /><br/>
	        <label>PTT:</label>
	        <input type="text" name="ptt" id="nm-izmena-ptt" /><br/>
	        <label>Drzava:</label>
	        <select name="maticnaDrzava" id="modal-combo-drzava">
				<option id="default-option" selected="selected" th:value="${idDrzave}" th:text = "${drzava}" disabled="disabled"></option>
			</select>
	       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="submit-izmena-nm">OK</button>
      </div>
    </div>

  </div>
</div>

<script th:inline="javascript">
	/*<![CDATA[*/

	    var idDrzave = [[${idDrzave}]];
	    console.log(idDrzave);

	/*]]>*/
</script>
</body>
<script type="text/javascript">
$(document).ready(function(){

	var selectedIDdrzave;
	var selectedIDnm;

	// NASELJENO MESTO izmena
	$("#submit-izmena-nm").on("click", function(e){
		var data = {};
		$("#form-izmena-nm").serializeArray().map(function(x){
			data[x.name] = x.value;
		}); 
		data.maticnaDrzava = idDrzave;
		var jsonD = JSON.stringify(data);

		$.ajax({
			headers:{
					'Content-Type':'application/json'
			},
			type: 'PUT',
			url: 'http://localhost:8080/poslovna/drzave/0/naseljena-mesta/' + selectedIDnm,
			data: jsonD
		})
		.done(function(data){
			$('.selected').remove();
			$("#table-nm tbody").append("<tr><td>" + data.id + "</td><td>" + data.name + "</td><td>" + data.ptt + "</td><td>" + data.maticnaDrzava + "</td></tr>" );
			$("#nm-izmena-name, #nm-izmena-ptt").val("");
			
			$("modal-izmeni-nm").modal('toggle');
		});
	});

	// NASELJENO MESTO brisanje
	$('#btn-brisi-nm').on('click', function(e){
		$.ajax({
			headers:{
				'Content-Type':'application/json'
			},
			type: 'DELETE',
			url: 'http://localhost:8080/poslovna/drzave/0/naseljena-mesta/' + selectedIDnm
			
		})
		.done(function(data){
			$('.selected').remove();
		});
	});

	// NASELJENO MESTO dodavanje
	$("#btn-dodaj-nm").on("click", function(){

		var data = {};

		$("#form-nm").serializeArray().map(function(x){
			data[x.name] = x.value;
		});


		data.maticnaDrzava = idDrzave;
		var jsonD = JSON.stringify(data);

		$.ajax({
			headers:{
			'Content-Type':'application/json'
			},
			type: 'POST',
			url: 'http://localhost:8080/poslovna/drzave/0/naseljena-mesta',
			data: jsonD
		})
		.done(function(data){
			$("#table-nm tbody").append("<tr><td>" + data.id + "</td><td>" + data.name + "</td><td>" + data.ptt + "</td><td>" + data.maticnaDrzava + "</td></tr>");
		})
		.fail(function(jqXHR, textStatus, errorThrown){ //replaces .error
		console.log("error");
		console.dir(arguments);
		});

		$(this).closest('form').find("input[type=text], textarea").val("");
		$("#combo-drzava").val($("#combo-drzava option:first").val());

	});

	// Select
	$('.preview-nm, .preview-drzave tbody').on("click", "tr", function(){
		$('.selected').removeClass('selected');
		$(this).addClass('selected');

		if ($(this).parents('.preview-drzave').length) {
			selectedIDdrzave = $(this).find('td').eq(0).html();
		}
		else {
			selectedIDnm = $(this).find('td').eq(0).html();
			
		}
		
	});


});
</script>
</html>
